@page
@model Leaf2Google.Models.Leaf.Leaf

@{

<div class="form-outline mb-3">
    @Html.TextBoxFor(m => m.NissanUsername, new {
    @class = "form-control",
    @placeholder="example@example.com",
    @requried="required"
    })
    <label for="NissanUsername" class="form-label">Email Address</label>
    <div class="form-notch">
        <div class="form-notch-leading" style="width: 9px;"></div>
        <div class="form-notch-middle" style="width: 72.5px;"></div>
        <div class="form-notch-trailing"></div>
    </div>
</div>

<div class="input-group form-outline mb-3">
    @Html.PasswordFor(m => m.NissanPassword, new {
    @class = "form-control",
    @placeholder="example123",
    @requried="required"
    })
    <label for="NissanPassword" class="form-label">Password</label>
    <div class="form-notch">
        <div class="form-notch-leading" style="width: 9px;"></div>
        <div class="form-notch-middle" style="width: 55px;"></div>
        <div class="form-notch-trailing"></div>
    </div>
    <span class="input-group-text p-0"><button type="submit" class="btn btn-primary rounded-end rounded-0 h-100"><i class="bi bi-arrow-bar-right"></i></button></span>
</div>

<div id="loginHelp" class="form-text">Currently we only support a single vehicle, support for multi vehicles is coming soon. Your first vehicle will be selected as default.</div>

}