@inherits LayoutComponentBase

<div class="page h-100">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="d-flex flex-column align-items-center content">
            @Body
        </article>
    </main>
</div>
