<nav class="d-flex flex-md-column flex-row align-items-center justify-content-evenly">
    <div class="nav-item m-2">
        <NavLink class="nav-link p-2 bg-dark shadow rounded-circle" href="" Match="NavLinkMatch.All">
            <i class="fa-solid fa-car mx-1"></i>
        </NavLink>
    </div>
    <div class="nav-item m-2">
        <NavLink class="nav-link p-2 bg-dark shadow rounded-circle" href="settings">
            <i class="fa-solid fa-gear mx-1"></i>
        </NavLink>
    </div>
    <div class="nav-item m-2">
        <NavLink class="nav-link p-2 bg-dark shadow rounded-circle" href="data">
            <i class="fa-solid fa-database mx-1"></i>
        </NavLink>
    </div>
</nav>

@code {

}
