<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="A utility to link your Nissan Connect vehicle to Google Home and more!">
    <meta name="keywords" content="leaf, nissan, leaf2google, link, smart home, smart, home, google, app">
    <meta name="author" content="Nathan Ford">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Leaf2Google</title>
    <link defer rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css"/>
    <link defer rel="stylesheet" href="~/css/bundle.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400&display=swap" rel="stylesheet"/>
</head>
<body class="d-flex flex-column">
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid h-100">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Leaf2Google</a>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
            @if (ViewBag.SessionId != null)
            {
                <div class="ms-auto me-2">
                    @await Component.InvokeAsync("CarSelector",
                        new
                        {
                            sessionId = (Guid?)ViewBag?.SessionId
                        }
                        )
                </div>
            }
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>
<main role="main" class="container-fluid h-100 p-0">
    @RenderBody()
</main>

<footer class="shadow-lg footer text-muted fixed-bottom">
    <div class="container">
        &copy; 2022 - Leaf2Google - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script defer id="mapbox" src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
<script defer src="~/js/bundle.js"></script>
<script defer src="~/js/components-bundle.js"></script>
<script async id="captcha" src="https://www.google.com/recaptcha/api.js"></script>

<script>
        const api = @Html.Raw(ViewBag?.API)
    </script>

@await RenderSectionAsync("Scripts", false)
</body>
</html>