@model Leaf2Google.Models.Car.CarViewModel

@{
    <div class="row">
        <div class="col col-12">
            <i class="bi bi-controller"><label for="vehicleControls" class="form-label w-100">Vehicle Controls</label></i>
            <div id="vehicleControls" class="btn-group w-100 mb-3">
                <input type="number" min="5" max="15" value="5" placeholder="Duration" aria-label="Action Time">
                <button type="button" data-itemid="flash" id="flashButton" class="btn btn-primary"><i class="bi bi-lamp-fill"></i>Flash Lights</button>
                <button type="button" data-itemid="horn" itemid="" class="btn btn-primary"><i class="bi bi-megaphone-fill"></i>Beep Horn</button>
            </div>
            @* I really wamt to use Angular... some dynamic binding to values and inline tags are so familiar and easy to work with... not to mention custom HTML elements!? TODO: Probably do that *@
            @* This looks awesome https://steele.blue/custom-elements-angularjs/ talk about re-usability... dang why did I not know about this from the start :( *@
            <i class="bi bi-thermometer-half"><label for="climateRange" class="form-label w-100">@($"Climate Control - Current {Model?.carThermostat?.LastTemperature.ToString() ?? "Unknown"}c")</label></i>
            <input type="range" class="form-range mb-0" min="16" max="26" value="@($"{Model?.carThermostat?.Target.ToString() ?? "Unknown"}")" oninput="$('#climateButton').html(`<i class='` + $('#climateButton').attr('data-icon') + `'></i> Set to ` + this.value + `c`)" id="climateRange">
            <div id="climateControls" class="btn-group w-100 mb-3">
                <button type="button" class="btn btn-primary" data-icon="bi bi-fan" id="climateButton">@($"Set to {Model?.carThermostat?.Target.ToString() ?? "Unknown"}c")</button>
            </div>
        </div>
    </div>
}
