@model Leaf2Google.Models.Car.CarInfoModel

@{
    @if (Model != null)
    {
        <div class="col col-12 col-md-4 position-relative">
            <div id="map" class="rounded"></div>
        </div>
    }
}
